.question
  .input
    %textarea{type: "text",placeholder:"input",rows: 15,cols:70}
  .output
    %textarea{type: "text",placeholder:"output",rows: 15,cols:70}
  .output-multi
    %textarea{type: "text",placeholder:"output",rows: 15,cols:70}
  .submit-question
    %button 提交