.practice-d-three
  .head
    %h2 HelloWord
  .body
    %button.click-me 改变 Hello Word 值
    %button.display-svg 显示图形
    %button.display-rect 显示完整的柱形图
    %p.first-value Hello Word1
    %p.second-value Hello Word2
    %p.third-value Hello Word3